<div class="quizz__container">
  <div class="quizz_logo">
    <img src="./assets/img/logo.png" alt="Logo">
    <h3>{{title}}</h3>
  </div>
  <div class="quizz_questions" *ngIf=!finished>
    <h3>{{questionSelected.question}}</h3>
  </div>
  <div class="quizz_options" *ngIf=!finished>
    <button *ngFor="let option of questionSelected.options; let i = index" (click)="playerChoose(option.alias)" class="btn-option">{{option.name}}</button>
  </div>
  <div class="quizz_results" *ngIf=finished>
    <h1>O seu resultado é:</h1>
    <p>{{answerSelected}}</p>
  </div>
</div>
